<!DOCTYPE html>
<html>
    <head>
      <title>IPLstaz</title>
    </head>
    
    <body class="welcome_screen_body">
        <div class="banner"></div>
        <div class="banner_child text-center">
            <h1>Indian Premier League</h1>
            <div class="container-fluid">
                <table>
                    <tr>
                        <%=link_to "Match Center", '/matches/index', class: "btn btn-lg home_links" %>
                    </tr>
                </table>
            </div>
            
            <div class="container">
                <div class="row stats">
                    <div class="col-sm-2 seasons_count stats_count">
                        <span class="total_count"><%= @total_seasons %></span>
                        <div class="count_of">Seasons</div>
                    </div>
                    <div class="col-sm-2 matches_count stats_count">
                        <span class="total_count"><%= @total_matches %></span>
                        <div class="count_of">Matches</div>
                    </div>
                    <div class="col-sm-2 runs_count stats_count">
                        <span class="total_count"><%= @total_runs %></span>
                        <div class="count_of">Runs</div>
                    </div>
                    <div class="col-sm-2 wickets_count stats_count">
                        <span class="total_count"><%= @total_wickets %></span>
                        <div class="count_of">Wickets</div>
                    </div>
                    <div class="col-sm-2 sixes_count stats_count">
                        <span class="total_count"><%= @total_sixes %></span>
                        <div class="count_of">Sixes</div>
                    </div>
                    <div class="col-sm-2 fours_count stats_count">
                        <span class="total_count"><%= @total_fours %></span>
                        <div class="count_of">Fours</div>
                    </div>

                </div>
                
            </div>
        </div>
        
    </body>
    
    
</html>