<!DOCTYPE>
<html>
    <head>
        <title>Player Profile</title>
        
        <%= stylesheet_link_tag 'application', media: 'all' %>
    </head>
    
    <body id="scorecard_body">
        <div class="container">
         <h3 class="text-center"><%= params[:player_name] %></h3>
         <h4>Batting And Fielding</h4>
        
         <table class="table table-condensed">
            <tr>
                <th> </th> <th>MAT</th> <th class="hidden-xs">NO</th> <th>RUNS</th> <th>HS</th> <th class="hidden-xs">BF</th>  <th class="hidden-xs">Avg</th>
                <th>SR</th> <th>100</th> <th>50</th> <th>6s</th> <th>4s</th> <th>CT</th> <th class="hidden-xs">ST</th>
            </tr>
            
            <tr>
                <td><strong>Career</strong></td>
                <td><%= @player_total_matches %></td>
                <td class="hidden-xs"><%= @player_total_not_out %></td> <!-- to_i not needed as there is no group by in these queries-->
                <td><%= @player_total_runs %></td>
                <td><%= @player_HS %></td>
                <td class="hidden-xs"><%= @player_total_balls_faced %></td>
                <td class="hidden-xs"><%= (((@player_total_runs).to_f/(@player_total_matches.to_f - @player_total_not_out.to_f)).round(2)).to_s.gsub('Infinity','-').gsub('NaN','-') %></td>
                <td><%= ((@player_total_runs.to_f*100)/(@player_total_balls_faced.to_f)).round(2) %></td>
                <td><%= @player_total_centuries %></td>
                <td><%= @player_total_half_centuries %></td>
                <td><%= @player_total_sixes %></td>
                <td><%= @player_total_fours %></td>
                <td><%= @player_total_catches %></td>
                <td class="hidden-xs"><%= @player_total_stumpings %></td>
            </tr>
            
            <% year_array = (2008..2016).to_a.reverse %>
            <% year_array.each do |year| %>
                <tr>
                    <% if (@player_total_matches_by_year[year]) %>
                        <td><strong><%= year %></strong></td>
                        <td><%= @player_total_matches_by_year[year] %></td>
                        <td class="hidden-xs"><%= @player_total_not_out_by_year[year].to_i %></td> <!--For making nil to zero -->
                        <td><%= @player_total_runs_by_year[year] %></td>
                        <td><%= @player_HS_by_year[year].to_i %></td>
                        <td class="hidden-xs"><%= @player_total_balls_faced_by_year[year] %></td>
                        <td class="hidden-xs"><%= ((@player_total_runs_by_year[year].to_f)/(@player_total_matches_by_year[year].to_f - @player_total_not_out_by_year[year].to_f)).round(2).to_s.gsub('Infinity','-').gsub('NaN','-') %></td>
                        <td><%= ((@player_total_runs_by_year[year].to_f*100)/(@player_total_balls_faced_by_year[year].to_f)).round(2).to_s.gsub('Infinity','-').gsub('NaN','-') %></td>
                        <td><%= @player_total_centuries_by_year[year].to_i %></td>
                        <td><%= @player_total_half_centuries_by_year[year].to_i %></td>
                        <td><%= @player_total_sixes_by_year[year] %></td>
                        <td><%= @player_total_fours_by_year[year] %></td>
                        <td><%= @player_total_catches_by_year[year].to_i %></td>
                        <td class="hidden-xs"><%= @player_total_stumpings_by_year[year].to_i %></td> 
                    <% end %>

                </tr>
            <% end %>
        </table>
        
        <h4>Bowling</h4>
         <table class="table table-condensed">
            <tr>
                <th> </th> <th>MAT</th> <th>BALLS</th> <th>RUNS</th> <th>WKTS</th> <th class="hidden-xs">AVG</th>  <th class="hidden-xs">ECO</th>
                <th>SR</th> <th>4W</th> <th>5W</th>
            </tr>
            
            <tr>
                <td><strong>Career</strong></td>
                <td><%= @player_total_matches %></td>
                <td><%= @player_total_overs_decimal_part.to_i + @player_total_overs_integer_part.to_i %></td>
                <td><%= @player_total_runs_given.to_i %></td>
                <td><%= @player_total_wickets.to_i %></td>
                <td class="hidden-xs"><%= (@player_total_runs_given.to_f/@player_total_wickets.to_f).round(2).to_s.gsub('Infinity','-').gsub('NaN','-') %></td>
                <td class="hidden-xs"><%= ((@player_total_runs_given.to_f/(@player_total_overs_decimal_part.to_f + @player_total_overs_integer_part.to_f))*6).round(2).to_s.gsub('Infinity','-').gsub('NaN','-') %></td>
                <td><%= ((@player_total_overs_decimal_part.to_f + @player_total_overs_integer_part.to_f)/@player_total_wickets.to_f).round(2).to_s.gsub('Infinity','-').gsub('NaN','-') %></td>
                <td><%= @player_total_4W_haul.to_i %></td>
                <td><%= @player_total_4W_haul.to_i %></td>
            </tr>
            
            <% year_array = (2008..2016).to_a.reverse %>
            <% year_array.each do |year| %> 
             <% if (@player_total_matches_by_year[year]) %>
                <tr>
                    <td><strong><%= year %></strong></td>
                    <td><%= @player_total_matches_by_year[year] %></td>
                    <td><%= @player_total_overs_decimal_part_by_year[year].to_i + @player_total_overs_integer_part_by_year[year].to_i %></td>
                    <td><%= @player_total_runs_given_by_year[year].to_i %></td>
                    <td><%= @player_total_wickets_by_year[year].to_i %></td>
                    <td class="hidden-xs"><%= (@player_total_runs_given_by_year[year].to_f/@player_total_wickets_by_year[year].to_f).round(2).to_s.gsub('Infinity','-').gsub('NaN','-') %></td>
                    <td class="hidden-xs"><%= ((@player_total_runs_given_by_year[year].to_f/(@player_total_overs_decimal_part_by_year[year].to_f + @player_total_overs_integer_part_by_year[year].to_f))*6).round(2).to_s.gsub('Infinity','-').gsub('NaN','-') %></td>
                    <td><%= ((@player_total_overs_decimal_part_by_year[year].to_f + @player_total_overs_integer_part_by_year[year].to_f)/@player_total_wickets_by_year[year].to_f).round(2).to_s.gsub('Infinity','-').gsub('NaN','-') %></td>
                    <td><%= @player_total_4W_haul_by_year[year].to_i %></td>
                    <td><%= @player_total_4W_haul_by_year[year].to_i %></td>
             <% end %>
                </tr>
            
            <% end %>
            
        </table>
         
            
        </div>


        
    </body>