 <!-- First Innings batting scorecard-->
     <br>
     <h3><%= @first_innings%> Innings</h3>
     <table class="table table-condensed">
        <tr>
            <th>Batsmen </th>
            <th class="hidden-xs"> </th>
            <th>Runs</th>
            <th>Balls</th>
            <th>Str.Rate</th>
            <th>4S</th>
            <th>6s</th>
        </tr>

      <% @batting_scorecard_first_innings.each do|batting_data| %>
        <tr>
            <% url="/players/profile?player_name=#{batting_data.batsmen_name.gsub(/\s+/, '+')}" %>
            <td><strong><%=link_to batting_data.batsmen_name,url %></strong></td>
            <td class="hidden-xs"><em><%= batting_data.dismissal %></em></td>
            <td><%= batting_data.runs %></td>
            <td><%= batting_data.balls_faced %></td>
            <td><%= batting_data.strike_rate %></td>
            <td><%= batting_data.fours %></td>
            <td><%= batting_data.sixes %></td>
        </tr>
      <% end %>
      <% if if_a_equals_b? %> <!-- To resolve mismatch between team name a and b in match data and batting data-->
        <tr>
            <td><strong>TOTAL</strong></td>
            <td>(<%= @match_data.team_a_wickets %> wickets;<%= @match_data.team_a_overs_played %> overs)</td>
            <td><strong><%= @match_data.team_a_score %></strong></td>
        </tr>
      <% else %>
        <tr>
            <td><strong>TOTAL</strong></td>
            <td>(<%= @match_data.team_b_wickets %> wickets;<%= @match_data.team_b_overs_played %> overs)</td>
            <td><strong><%= @match_data.team_b_score %></strong></td>
        </tr>
      <% end %>
        
 </table>
     <br>

     <!-- First Innings bowling scorecard-->
     <table class="table table-condensed bowling_data_table">
         <tr>
             <th>Bowler</th>
             <th>Over</th>
             <th>Runs</th>
             <th>Wickets</th> 
             <th>Eco.</th>
             <th>Dots</th>
         </tr>
         <% @bowling_scorecard_first_innings.each do|bowling_data| %>
             <tr>
                 <% url="/players/profile?player_name=#{bowling_data.bowler_name.gsub(/\s+/, '+')}" %>
                 <td><strong><%=link_to bowling_data.bowler_name,url %></strong></td>
                 <td><%= bowling_data.overs %></td>
                 <td><%= bowling_data.runs_given %></td>
                 <td><%= bowling_data.wickets %></td>
                 <td><%= bowling_data.economy %></td>
                 <td><%= bowling_data.dot_balls %></td>
             </tr>
         <% end %>
     </table>
        
     <!-- Second Innings batting scorecard-->
     <h3><%= @second_innings%> Innings</h3>
     <table class="table table-condensed">
    <tr>
        <th>Batsmen </th>
        <th class="hidden-xs"> </th>
        <th>Runs</th>
        <th>Balls</th>
        <th>Str.Rate</th>
        <th>4S</th>
        <th>6s</th>
    </tr>

    <% @batting_scorecard_second_innings.each do|batting_data| %>
        <tr>
            <% url="/players/profile?player_name=#{batting_data.batsmen_name.gsub(/\s+/, '+')}" %>
            <td><strong><%=link_to batting_data.batsmen_name,url %></strong></td>
            <td class="hidden-xs"><em><%= batting_data.dismissal %></em></td>
            <td><%= batting_data.runs %></td>
            <td><%= batting_data.balls_faced %></td>
            <td><%= batting_data.strike_rate %></td>
            <td><%= batting_data.fours %></td>
            <td><%= batting_data.sixes %></td>
        </tr>
    <% end %>
    <% if if_a_equals_b? %> <!-- To resolve mismatch between team name a and b in match data and batting data-->
        <tr>
            <td><strong>TOTAL</strong></td>
            <td>(<%= @match_data.team_b_wickets %> wickets;<%= @match_data.team_b_overs_played %> overs)</td>
            <td><strong><%= @match_data.team_b_score %></strong></td>
        </tr>
    <% else %>
        <tr>
            <td><strong>TOTAL</strong></td>
            <td>(<%= @match_data.team_a_wickets %> wickets;<%= @match_data.team_a_overs_played %> overs)</td>
            <td><strong><%= @match_data.team_a_score %></strong></td>
         </tr>
    <% end %>
</table>
    <br>
    
     <!-- Second Innings bowling scorecard-->
     <table class="table table-condensed bowling_data_table">
         <tr>
             <th>Bowler</th>
             <th>Over</th>
             <th>Runs</th>
             <th>Wickets</th>
             <th>Eco.</th>
             <th>Dots</th>
         </tr>
         <% @bowling_scorecard_second_innings.each do|bowling_data| %>
             <tr>
                 <% url="/players/profile?player_name=#{bowling_data.bowler_name.gsub(/\s+/, '+')}" %>
                 <td><strong><%=link_to bowling_data.bowler_name,url %></strong></td>
                 <td><%= bowling_data.overs %></td>
                 <td><%= bowling_data.runs_given %></td>
                 <td><%= bowling_data.wickets %></td>
                 <td><%= bowling_data.economy %></td>
                 <td><%= bowling_data.dot_balls %></td>
             </tr>
         <% end %>
     </table>