<% if @match_list.empty? %>
 <h3 class="text-center">No Records Found</h3>
<% end %>
<% @match_list.each do|match| %>
                <div class="row match_pane">
                  <div class="col-sm-7 match_details_pane">
                      <div class="text-center">
                          <h3><%= match.year %> <%= match.match_type %></h3>
                          
                      </div>
                      <div class="row text-center">
                          <div class="col-xs-3 text-left">
                            <strong class="hidden-xs"><%= match.team_a_name %></strong>  
                          </div>
                          <% team_a_logo = "team_logos/#{match.team_a_name}.png" %>
                          <% team_b_logo = "team_logos/#{match.team_b_name}.png" %>
                          <div class="col-xs-2 team_logo"><%=image_tag team_a_logo , class: "img-circle logo_image" %></div>
                          <div class="col-xs-2 text-center">VS</div>
                          <div class="col-xs-2 team_logo"><%=image_tag team_b_logo , class: "img-circle logo_image" %></div>
                          <div class="col-xs-3 text-right">
                            <strong class="hidden-xs"><%= match.team_b_name %></strong>
                          </div>
                      </div>
                      <div class="row">
                        <div class="col-xs-6 text-left">
                          <div><%= match.team_a_score %>/<%= match.team_a_wickets %></div>
                          <div><%= match.team_a_overs_played %>/<%= match.team_a_total_overs %></div>
                        </div>
                        <div class="col-xs-6 text-right">
                          <div><%= match.team_b_score %>/<%= match.team_b_wickets %></div>    
                          <div><%= match.team_b_overs_played %>/<%= match.team_b_total_overs %></div>
                        </div>
                      </div>
                  </div>
                  <div class="col-sm-5 text-center match_result_pane">
                     <div id="result"><strong><%= match.match_result %></strong></div>
                     <% url = "/matches/scorecard/#{match.id}" %> <!-- To make url with the matchid-->
                     <td><%= link_to 'Scorecard', url, class: "btn btn-lg home_links" %></td>
                  </div>
                    
                </div>
                <div class="line_break">
                    <br>
                </div>
           <% end %>