    <div class="container form-group" align="right">
        <%= form_tag("/matches/index", method: "get", remote: true, id: "form_filter") do %>
            <div>
              <%= select_tag(:year_filter,
                  options_for_select([2016,2015,2014,2013,2012,2011,2010,2009,2008,["All","%%"]],params[:year_filter]),class: "form-control",id: "year_filter") %>
              <%= select_tag(:team_filter,
                  options_for_select([["All","%%"],"Royal Challengers Bangalore",
                  "Kolkata Knight Riders","Rajasthan Royals","Deccan Chargers",
                  "Chennai Super Kings","Mumbai Indians","Kings XI Punjab",
                  "Delhi Daredevils","Kochi Tuskers Kerala","Pune Warriors India",
                  "Sunrisers Hyderabad","Gujarat Lions","Rising Pune Supergiants"],params[:team_filter]),class: "form-control",id: "team_filter") %>
            </div>
           
        <% end %>
    </div>
    <div class="container match_list">
        <%= render "list_matches" %>
    </div>


