<div class="container">
    <div class="scorecard_banner">
        <h2 class="text-center">
        <%= image_tag "team_logos/#{@match_data.team_a_name}.png", class: "logo_image img-circle" %>
        <%= @match_data.team_a_name %> vs <%= @match_data.team_b_name %>
        <%= image_tag "team_logos/#{@match_data.team_b_name}.png", class: "logo_image img-circle" %>
        </h2>
        <h3 class="text-center"><%= @match_data.year %> <%= @match_data.match_type %></h3>
        <h5 class="text-center"><%= @match_data.match_result %></h5> 
    </div>
    

    <%= render "batting_bowling_card" %>
</div>
    
