/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

a{
    color: white;
}
a:hover {
    
    text-decoration: none;
    color: #99B5C4;
     
 }
 
 .navbar{
    background-color: #2d2d30;
    opacity: 0.9;
    padding-right: 5px;
    border: 0;
     
 }
 
 .navbar li a, .navbar .navbar-brand { 
    color: #d5d5d5 !important;
}

.navbar-nav li a:hover {
    color: #fff !important;
}


body{
    background-image: url("background.jpg");
    padding-top: 70px;
    color: white;
    
}

.home_links{
    color: white;
    margin: 10px;
    background: transparent;
    border-width: 3px;
    border-style: solid;
    border-color: gray;
    border-radius: 10px 10px 10px 10px;
}

.home_links:hover{
    color: #99B5C4;
}
 
