// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.banner_child{
    color: #ffffff;
}

.stats{
    margin: 50px;
}

.stats_count{
    height: 165px;
    padding-top: 50px;
    font-size: 25px;
    display: block;
    border-width: 3px;
    border-style: solid;
    border-color: gray;
    border-radius: 10px 10px 10px 10px;
}

.count_of{
    font-size: 15px;

}

/*

.welcome_screen_body:before {//not used
  content: "";
  position: fixed;
  left: 0;
  right: 0;
  z-index: -1;
  
 // background-image    : asset_url('banner.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 1400px;
  height: 700px;
  
  -webkit-filter: blur(5px);
  margin              : -5px;
}

.welcome_screen_body {//not used
  position: fixed;
  left: 0;
  right: 0;
  z-index: 0;
  
}
.banner{//not used as opacity 0
  background-color: #000;
  margin-top: 1%;
  opacity: 0.0;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.seasons_count{
    
  
}

.matches_count{
    

}

.runs_count{
    
}

.wickets_count{
    
}

.sixes_count{
}

.fours_count{
}

*/