// Place all the styles related to the matches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'bootstrap-sprockets';
@import 'bootstrap';

@mixin rounded-border($radius: 10px){
    border-radius: $radius;
}

.scorecard_banner{
    border-width: 3px;
    border-style: solid;
    border-color: gray;
    padding: 10px;
    @include rounded-border(10px);
}

.match_details_pane{
    border-width: 3px;
    border-style: solid;
    border-color: gray;
    height: 175px;
    border-radius: 10px 0px 0px 10px;
    color: white;
    
}

.match_result_pane{
    border-width: 3px;
    border-style: solid;
    border-color: gray;
    height: 175px;
    border-radius: 0px 10px 10px 0px;
    color: white;
}

@media (max-width: 768px){
    .match_result_pane{
        border-radius: 0px 0px 10px 10px;
    }
    .match_details_pane{
        border-radius: 10px 10px 0px 0px;
    }
    .match_pane{
        margin: 5px;
    }
}

#result{
    margin-top: 10%;
}

.form-control{
    width: auto;
    display: inline-block;
    margin: 10px;
}

.form-group{
    margin: 20px;

}

.logo_image{
    width: 60px;
    height: 60px;
    background-color: #FFFFFF;
    
}
//Remove padding for col in smaller screens
@media (max-width: 768px){
    .team_logo{
        padding: 0px;
    }
}

#team_details{
    display: inline;
}

.bowling_data_table{
    width: 50%;
}