<!DOCTYPE html>
<html>
    <head>
      <title>IPLSTATZ</title>
      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
      <%= csrf_meta_tags %>
      <%= favicon_link_tag 'favicon.png' %>
      <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
            <nav class="navbar navbar-inverse navbar-fixed-top">
                <div class="container-fluid">
                    <div class="navbar-header">
                      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span> 
                      </button>
                      <a class="navbar-brand" href="/">IPLSTATZ</a>
                    </div>
                    
                    <div class="collapse navbar-collapse" id="myNavbar">
                       <ul class="nav navbar-nav navbar-right">
                        <li><%= link_to "Matches","/matches/index"%></li>
                        <li><%= link_to "About","#"%></li>
                       </ul> 
                    </div>
                        
                </div>
            </nav>
    <%= yield %>
    
    </body>
</html>
